<nav class = "grey darken-3"> 
<div class = "nav-wrapper container"> 
<a href="#!" class="brand-logo center"><img src="images/logo.png" alt="no image" width="30%"> </a> 
<a href="#" data-target = "mobile-demo" class = "sidenav-trigger show-on-large">
<i class = "fas fa-bars"></i></a>
<ul class = "sidenav" id ="mobile-demo">
<li><a href="/builds">Builds</a></li>
<li><a href="/stats">Stats</a></li>
<li><a href="/auth/logout">Logout</a></li>
</ul> 


</div>
</nav>